[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
django = "*"
sentry-sdk = "==0.9.5"
whitenoise = "*"
django-environ = "*"

[dev-packages]
pytest = "*"
pytest-spec = "*"
pytest-cov = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
