{% verbatim %}

<script type="text/x-template" id="table">
   <table class="ui green table compact">
      <thead>
         <tr>
            <th
               v-for="column in columns"
               :key="column.label"
               :class="{'right aligned': column.type == 'number' }"
            >
               {{ column.label }}
            </th>
         </tr>
      </thead>
      <tbody>
         <ui-table-row
            v-for="row in displayedRows"
            :key="getRowId(row)"
            :row="row"
            :row-id="getRowId(row)"
            :columns="columns"
            ref="rows"
         />
      </tbody>
   </table>
</script>

<script type="text/x-template" id="table-row">
   <tr>
      <td
         v-for="column in columns"
         :class="{'right aligned': column.type == 'number' }"
         :ref="column.attr"
      >
         <span v-if="row[column.attr]">
            {{ row[column.attr] }}
         </span>
         <span v-else>
            -
         </span>
      </td>
   </tr>
</script>

{% endverbatim %}


<script type="text/javascript">
   Vue.component('ui-table', {
      props: ['rows', 'row-id'],
      template: '#table',
      data: function () { return {
         columns: [],
      }},
      computed: {
         displayedRows: function() {
            return this.rows;
         }
      },
      methods: {
         getRowId: function(row) {
            return row[this.rowId];
         },
      },
      mounted: function () {
         this.columns = this.$slots.default
            .filter(component => component.componentOptions)
            .map(component => component.componentOptions.propsData);

      },
   });

   Vue.component('ui-table-column', {
      props: ['attr', 'label', 'type'],
      template: '<div v-if="false"><slot></slot></div>',
   });

   Vue.component('ui-table-header', {
      props: ['label'],
      template: '<th>{{ label }}</th>',
   });

   Vue.component('ui-table-row', {
      props: ['columns', 'row', 'row-id'],
      template: '#table-row',
   });
</script>
