{% load static %}
<!DOCTYPE html>
<html lang=”en”>
    <head>
        <title>Stock manager</title>
        <meta charset=”utf-8" />
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
    </head>
    <body>
        {% include "components/index.html" %}

        <div id="app">
            <ui-menu></ui-menu>
            <div class="ui container">
                <h1 class="ui header">Stocks</h1>

                <form v-on:submit.prevent="addStock()">
                    <div class="ui action input">
                        <input
                            type="text"
                            v-model="newStock.symbol"
                            placeholder="Ação (e.g. ABEV3)"
                            required="required"
                            :disabled="loading===true"
                        />
                        <button
                            type="submit"
                            class="ui green button"
                            :class="{ loading: loading===true }"
                        >
                            Adicionar
                        </button>
                    </div>
                </form>

                <ui-table :rows="stocks">
                    <ui-table-column
                        attr="symbol"
                        label="Ação"
                    ></ui-table-column>
                    <ui-table-column
                        attr="name"
                        label="Nome"
                    ></ui-table-column>
                    <ui-table-column
                        attr="quantity"
                        label="Quantidade"
                    ></ui-table-column>
                    <ui-table-column
                        attr="cost"
                        label="Custo"
                    ></ui-table-column>
                    <ui-table-column
                        attr="value"
                        label="Valor de mercado"
                    ></ui-table-column>
                    <ui-table-column
                        attr="gain_loss"
                        label="Ganho de capital"
                    ></ui-table-column>
                </ui-table>
                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
        </div>
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>
