{% load static %}
<!DOCTYPE html>
<html lang=”en”>
    <head>
        <title>Stock manager</title>
        <meta charset=”utf-8" />
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'semantic.css' %}">
    </head>
    <body>
        {% include "components/index.html" %}

        <div id="app">
            <ui-menu></ui-menu>
            <div class="ui container">
                <h1 class="ui header">Stocks</h1>
                <form v-on:submit.prevent="addStock()">
                    <div class="ui action input">
                        <ui-dropdown v-model="newStock.symbol">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione uma ação</div>
                            <div class="menu">
                                <div
                                    class="item"
                                    v-for="stock in availableStocks"
                                    :key="stock.symbol"
                                    :data-value="stock.symbol"
                                >
                                    ${stock.symbol}
                                </div>
                            </div>
                        </ui-dropdown>

                        <button
                            type="submit"
                            class="ui green button"
                            :class="{ loading: loading===true }"
                        >
                            Adicionar
                        </button>
                    </div>
                </form>

                <ui-table :rows="stocks" row-id="symbol" ref="stocksTable">
                    <ui-table-column
                        attr="symbol"
                        label="Ação"
                    ></ui-table-column>
                    <ui-table-column
                        attr="name"
                        label="Nome"
                    ></ui-table-column>
                    <ui-table-column
                        attr="price"
                        label="Preço"
                        type="number"
                    ></ui-table-column>
                    <ui-table-column
                        attr="quantity"
                        label="Quantidade"
                        type="number"
                    ></ui-table-column>
                    <ui-table-column
                        attr="cost"
                        label="Custo"
                        type="number"
                    ></ui-table-column>
                    <ui-table-column
                        attr="value"
                        label="Valor de mercado"
                        type="number"
                    ></ui-table-column>
                    <ui-table-column
                        attr="gain_loss"
                        label="Ganho de capital"
                        type="number"
                    ></ui-table-column>
                </ui-table>
                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
        </div>
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>
