{% load static %}
<!DOCTYPE html>
<html lang=”en”>
    <head>
        <title>Stock manager</title>
        <meta charset=”utf-8" />
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0" />
        <link
            rel=”stylesheet”
            href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm”
            crossorigin=”anonymous”
        />
    </head>
    <body>
        <div id="app">
            <h1>Stocks</h1>

            <form v-on:submit.prevent="addStock()">
                <input
                    type="text"
                    v-model="newStock.symbol"
                    placeholder="Symbol"
                    required="required"
                />
                <button type="submit">Add stock</button>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Heading</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stock in stocks">
                        <th>${stock.symbol}</th>
                        <td>
                            <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Edit</button>
                            <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>
